# ===== BASE DE DATOS RAILWAY =====
DB_HOST=centerbeam.proxy.rlwy.net
DB_PORT=44269
DB_NAME=railway
DB_USER=root
DB_PASSWORD=GRxhnJrlYUHUSIinGubqglouatNvvWBG

# ===== JWT =====
JWT_KEY=TuClaveSecretaQueEsLoSuficientementeLargaParaCumplirConLosRequisitosDeHS256
JWT_ISSUER=AutoRefAPI
JWT_AUDIENCE=AutoRefClient

# ===== CLOUDINARY =====
CLOUDINARY_CLOUD_NAME=dloufdonh
CLOUDINARY_API_KEY=163115428918676
CLOUDINARY_API_SECRET=DunTkc3_BTRzq65wvhHizu1i4RQ

# ===== GOOGLE MAPS =====
GOOGLE_MAPS_API_KEY=AIzaSyC24LaFVU6RgtEswKeAvrryUFBg7CBgONQ

# ===== EMAIL (SMTP) =====
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=autorefasturias@gmail.com
SMTP_PASSWORD=parmqbpwxhjykkww

# ===== DEPLOYMENT =====
PORT=10000
ASPNETCORE_ENVIRONMENT=Production
FRONTEND_URL=http://localhost:3000

