.rbc-day-hover {
    transition: background-color 0.3s ease;
  }
  
  .rbc-day-hover:hover {
    background-color: #e0e0e0; 
  }

  .rbc-month-row {
    display: flex;
    flex: 0 0 auto;
    min-height: 200px; 
  }
  
  .rbc-calendar {
    min-height: 1000px; 
  }

  .calendar-event-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calendar-event-content:hover .delete-event-btn {
    opacity: 1 !important;
  }

  .rbc-event {
    padding: 2px 4px !important;
  }
  